.container_department{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 82%;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    padding-top: 1rem;

}
.paragraph{
  display: flex;
    justify-content: center;
    color: rgba(0, 0, 255, 0.808);
    text-decoration: none;
    font-size: 11px;
}
.image{
  width: 100px;
  height: 80px;

  display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.ref{
  text-decoration: none;
  box-shadow: 3px 4px 5px grey;
  border-radius: 8px;
  width: 130px;
}